In [2]:
import pandas as pd
import numpy as np
# from Param import *
from datetime import datetime

TIME_START = 20190101000000  # %Y%m
TIME_END = 20201231235959  # %Y%m
TIME_STEP = 30  # minutes

In [3]:
print(str(TIME_START)[0:6])
print(TIME_END)
pd.to_datetime(TIME_START)
'{}-{}-{}-in_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP)

201901
20201231235959

'201901-202012-30-in_flow.h5'

In [8]:
filepath_list = []
for i in range(1, 13):
    filepath_list.append('/home/cseadmin/mhy/data-NYCTaxi/30min/yellow_tripdata_2019-{}-graph-inoutflow.npz'.format(str(i).zfill(2)))
for i in range(1, 13):
    filepath_list.append('/home/cseadmin/mhy/data-NYCTaxi/30min/yellow_tripdata_2020-{}-graph-inoutflow.npz'.format(str(i).zfill(2)))

In [9]:
out_flow = pd.DataFrame({'time':pd.date_range(str(TIME_START), str(TIME_END), freq='30min')})
in_flow = pd.DataFrame({'time':pd.date_range(str(TIME_START), str(TIME_END), freq='30min')})
for i in range(69):
    in_flow[str(i)] = 0
    out_flow[str(i)] = 0
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31,
       31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31,]
cur = 0
out_flow.iloc[[i for i in range(10)],[i for i in range(1,70)]]

   0  1  2  3  4  5  6  7  8  9  ...  59  60  61  62  63  64  65  66  67  68
0  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
1  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
2  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
3  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
4  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
5  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
6  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
7  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
8  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
9  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0

[10 rows x 69 columns]

In [10]:
cur = 0
for i in range(len(filepath_list)):
    data = np.load(filepath_list[i])['arr_0']
    in_flow.iloc[[i for i in range(cur, cur+days[i]*24*2 )],[i for i in range(1,70)]] = pd.DataFrame(data[0,0:days[i]*24*2,0:69] + 1)
    out_flow.iloc[[i for i in range(cur, cur+days[i]*24*2 )],[i for i in range(1,70)]] = pd.DataFrame(data[0,0:days[i]*24*2,0:69] + 1)
    cur = cur +days[i]*24*2

In [11]:
in_flow[:10]

,time,0,1,2,3,4,5,6,7,8,...,59,60,61,62,63,64,65,66,67,68
0,2019-01-01 00:00:00,46.0,3.0,38.0,28.0,52.0,42.0,39.0,10.0,144.0,...,136.0,155.0,134.0,19.0,27.0,110.0,97.0,32.0,95.0,157.0
1,2019-01-01 00:30:00,64.0,3.0,53.0,35.0,85.0,50.0,52.0,19.0,212.0,...,153.0,212.0,201.0,34.0,38.0,129.0,145.0,46.0,146.0,251.0
2,2019-01-01 01:00:00,47.0,4.0,48.0,37.0,86.0,67.0,60.0,24.0,254.0,...,131.0,199.0,206.0,27.0,44.0,81.0,133.0,25.0,156.0,232.0
3,2019-01-01 01:30:00,63.0,2.0,48.0,26.0,78.0,74.0,58.0,26.0,234.0,...,87.0,154.0,172.0,30.0,64.0,72.0,107.0,42.0,130.0,247.0
4,2019-01-01 02:00:00,62.0,2.0,32.0,45.0,76.0,60.0,39.0,16.0,242.0,...,72.0,98.0,158.0,49.0,69.0,84.0,100.0,39.0,114.0,243.0
5,2019-01-01 02:30:00,42.0,7.0,28.0,32.0,58.0,60.0,30.0,29.0,200.0,...,54.0,110.0,127.0,40.0,56.0,82.0,93.0,41.0,96.0,160.0
6,2019-01-01 03:00:00,51.0,1.0,30.0,34.0,55.0,68.0,15.0,24.0,172.0,...,48.0,90.0,85.0,32.0,56.0,77.0,111.0,33.0,61.0,153.0
7,2019-01-01 03:30:00,65.0,3.0,25.0,18.0,64.0,64.0,16.0,29.0,176.0,...,41.0,60.0,50.0,20.0,51.0,67.0,81.0,30.0,45.0,100.0
8,2019-01-01 04:00:00,33.0,2.0,27.0,20.0,50.0,54.0,15.0,17.0,134.0,...,35.0,45.0,46.0,31.0,47.0,62.0,59.0,24.0,49.0,66.0
9,2019-01-01 04:30:00,32.0,1.0,10.0,11.0,38.0,41.0,11.0,16.0,90.0,...,26.0,35.0,31.0,16.0,42.0,22.0,37.0,11.0,19.0,46.0

In [14]:
# in_store = pd.HDFStore('{}-{}-{}-in_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
# in_store = pd.HDFStore('in_flow.h5', 'w')
# in_store['df'] = in_flow
# out_store = pd.HDFStore('{}-{}-{}-out_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
# out_store = pd.HDFStore('out_flow.h5', 'w')
# out_store['df'] = out_flow
# in_flow.HDFStore('{}-{}-{}-in_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
# out_flow.HDFStore('{}-{}-{}-out_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
in_flow.to_csv('{}-{}-{}-NYCbike-in_flow.csv'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
out_flow.to_csv('{}-{}-{}-NYCbike-out_flow.csv'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))

In [59]:
test = pd.read_csv('{}-{}-{}-NYCbike-in_flow.csv'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
test

,Unnamed: 0,time,0,1,2,3,4,5,6,7,...,59,60,61,62,63,64,65,66,67,68
0,0,2019-01-01 00:00:00,1.0,0.0,0.0,0.0,1.0,0.0,9.0,0.0,...,2.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1,2019-01-01 00:30:00,0.0,0.0,0.0,1.0,0.0,0.0,4.0,2.0,...,0.0,2.0,1.0,0.0,0.0,2.0,3.0,0.0,0.0,1.0
2,2,2019-01-01 01:00:00,2.0,0.0,2.0,0.0,0.0,1.0,9.0,1.0,...,1.0,0.0,2.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0
3,3,2019-01-01 01:30:00,0.0,0.0,1.0,0.0,2.0,0.0,10.0,2.0,...,0.0,2.0,2.0,0.0,0.0,3.0,4.0,0.0,0.0,1.0
4,4,2019-01-01 02:00:00,2.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35083,35083,2020-12-31 21:30:00,3.0,0.0,9.0,3.0,6.0,2.0,3.0,2.0,...,2.0,5.0,6.0,0.0,3.0,5.0,5.0,1.0,0.0,3.0
35084,35084,2020-12-31 22:00:00,0.0,0.0,0.0,6.0,1.0,4.0,7.0,2.0,...,3.0,6.0,9.0,0.0,1.0,4.0,12.0,0.0,1.0,10.0
35085,35085,2020-12-31 22:30:00,2.0,0.0,1.0,1.0,2.0,1.0,5.0,5.0,...,1.0,5.0,5.0,0.0,1.0,2.0,6.0,0.0,1.0,5.0
35086,35086,2020-12-31 23:00:00,1.0,0.0,0.0,0.0,3.0,5.0,5.0,5.0,...,2.0,2.0,6.0,0.0,2.0,5.0,2.0,1.0,0.0,5.0
35087,35087,2020-12-31 23:30:00,2.0,0.0,5.0,4.0,6.0,3.0,10.0,0.0,...,0.0,2.0,5.0,0.0,0.0,6.0,2.0,0.0,1.0,7.0

In [15]:
np.array(in_flow[in_flow.columns[1:]])

array([[ 46.,   3.,  38., ...,  32.,  95., 157.],
       [ 64.,   3.,  53., ...,  46., 146., 251.],
       [ 47.,   4.,  48., ...,  25., 156., 232.],
       ...,
       [  2.,   1.,   3., ...,   2.,  17.,  16.],
       [  5.,   1.,   2., ...,   5.,  10.,  16.],
       [ 10.,   1.,   2., ...,   5.,   9.,   5.]])

In [68]:
with open('{}-{}-{}-NYCtaxi-inflow-plus1.npz'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP), 'wb') as f:
        np.savez_compressed(f,np.array(in_flow[in_flow.columns[1:]]))
with open('{}-{}-{}-NYCtaxi-outflow-plus1.npz'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP), 'wb') as f:
        np.savez_compressed(f,np.array(out_flow[in_flow.columns[1:]]))