In [39]:
import pandas as pd
import numpy as np
# from Param import *
from datetime import datetime

TIME_START = 20190101000000  # %Y%m
TIME_END = 20201231235959  # %Y%m
TIME_STEP = 30  # minutes

In [51]:
print(str(TIME_START)[0:6])
print(TIME_END)
pd.to_datetime(TIME_START)
'{}-{}-{}-in_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP)

201901
20201231235959

'201901-202012-30-in_flow.h5'

In [41]:
filepath_list = []
for i in range(1, 13):
    filepath_list.append('../../../data/mhy/NYCBikeData/npyData/new_graph/2019{}-citibike-tripdata-graph-inoutflow-{}.npz'.format(str(i).zfill(2),TIME_STEP))
for i in range(1, 13):
    filepath_list.append('../../../data/mhy/NYCBikeData/npyData/new_graph/2020{}-citibike-tripdata-graph-inoutflow-{}.npz'.format(str(i).zfill(2),TIME_STEP))

In [46]:
out_flow = pd.DataFrame({'time':pd.date_range(str(TIME_START), str(TIME_END), freq='30min')})
in_flow = pd.DataFrame({'time':pd.date_range(str(TIME_START), str(TIME_END), freq='30min')})
for i in range(69):
    in_flow[str(i)] = 0
    out_flow[str(i)] = 0
days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31,
       31, 29, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31,]
cur = 0
out_flow.iloc[[i for i in range(10)],[i for i in range(1,70)]]

   0  1  2  3  4  5  6  7  8  9  ...  59  60  61  62  63  64  65  66  67  68
0  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
1  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
2  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
3  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
4  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
5  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
6  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
7  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
8  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0
9  0  0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0   0   0   0   0

[10 rows x 69 columns]

In [66]:
cur = 0
for i in range(len(filepath_list)):
    data = np.load(filepath_list[i])['arr_0']
    in_flow.iloc[[i for i in range(cur, cur+days[i]*24*2 )],[i for i in range(1,70)]] = pd.DataFrame(data[0,0:days[i]*24*2,0:69] + 1)
    out_flow.iloc[[i for i in range(cur, cur+days[i]*24*2 )],[i for i in range(1,70)]] = pd.DataFrame(data[0,0:days[i]*24*2,0:69] + 1)
    cur = cur +days[i]*24*2

In [67]:
in_flow[:10]

,time,0,1,2,3,4,5,6,7,8,...,59,60,61,62,63,64,65,66,67,68
0,2019-01-01 00:00:00,2.0,1.0,1.0,1.0,2.0,1.0,10.0,1.0,1.0,...,3.0,1.0,4.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0
1,2019-01-01 00:30:00,1.0,1.0,1.0,2.0,1.0,1.0,5.0,3.0,4.0,...,1.0,3.0,2.0,1.0,1.0,3.0,4.0,1.0,1.0,2.0
2,2019-01-01 01:00:00,3.0,1.0,3.0,1.0,1.0,2.0,10.0,2.0,5.0,...,2.0,1.0,3.0,1.0,1.0,3.0,4.0,1.0,1.0,1.0
3,2019-01-01 01:30:00,1.0,1.0,2.0,1.0,3.0,1.0,11.0,3.0,10.0,...,1.0,3.0,3.0,1.0,1.0,4.0,5.0,1.0,1.0,2.0
4,2019-01-01 02:00:00,3.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0,5.0,...,1.0,2.0,1.0,1.0,1.0,3.0,3.0,2.0,1.0,1.0
5,2019-01-01 02:30:00,5.0,1.0,1.0,1.0,4.0,1.0,3.0,3.0,3.0,...,1.0,4.0,1.0,1.0,1.0,3.0,2.0,1.0,3.0,2.0
6,2019-01-01 03:00:00,1.0,1.0,1.0,1.0,4.0,1.0,2.0,1.0,5.0,...,1.0,1.0,1.0,1.0,1.0,3.0,2.0,1.0,1.0,2.0
7,2019-01-01 03:30:00,2.0,1.0,2.0,1.0,1.0,1.0,1.0,3.0,2.0,...,2.0,2.0,1.0,1.0,1.0,3.0,4.0,1.0,1.0,2.0
8,2019-01-01 04:00:00,2.0,1.0,1.0,3.0,1.0,2.0,1.0,1.0,4.0,...,1.0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,2019-01-01 04:30:00,1.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,6.0,...,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0

In [58]:
# in_store = pd.HDFStore('{}-{}-{}-in_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
# in_store = pd.HDFStore('in_flow.h5', 'w')
# in_store['df'] = in_flow
# out_store = pd.HDFStore('{}-{}-{}-out_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
# out_store = pd.HDFStore('out_flow.h5', 'w')
# out_store['df'] = out_flow
# in_flow.HDFStore('{}-{}-{}-in_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
# out_flow.HDFStore('{}-{}-{}-out_flow.h5'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
in_flow.to_csv('{}-{}-{}-NYCbike-in_flow.csv'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
out_flow.to_csv('{}-{}-{}-NYCbike-out_flow.csv'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))

In [59]:
test = pd.read_csv('{}-{}-{}-NYCbike-in_flow.csv'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP))
test

,Unnamed: 0,time,0,1,2,3,4,5,6,7,...,59,60,61,62,63,64,65,66,67,68
0,0,2019-01-01 00:00:00,1.0,0.0,0.0,0.0,1.0,0.0,9.0,0.0,...,2.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,1,2019-01-01 00:30:00,0.0,0.0,0.0,1.0,0.0,0.0,4.0,2.0,...,0.0,2.0,1.0,0.0,0.0,2.0,3.0,0.0,0.0,1.0
2,2,2019-01-01 01:00:00,2.0,0.0,2.0,0.0,0.0,1.0,9.0,1.0,...,1.0,0.0,2.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0
3,3,2019-01-01 01:30:00,0.0,0.0,1.0,0.0,2.0,0.0,10.0,2.0,...,0.0,2.0,2.0,0.0,0.0,3.0,4.0,0.0,0.0,1.0
4,4,2019-01-01 02:00:00,2.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35083,35083,2020-12-31 21:30:00,3.0,0.0,9.0,3.0,6.0,2.0,3.0,2.0,...,2.0,5.0,6.0,0.0,3.0,5.0,5.0,1.0,0.0,3.0
35084,35084,2020-12-31 22:00:00,0.0,0.0,0.0,6.0,1.0,4.0,7.0,2.0,...,3.0,6.0,9.0,0.0,1.0,4.0,12.0,0.0,1.0,10.0
35085,35085,2020-12-31 22:30:00,2.0,0.0,1.0,1.0,2.0,1.0,5.0,5.0,...,1.0,5.0,5.0,0.0,1.0,2.0,6.0,0.0,1.0,5.0
35086,35086,2020-12-31 23:00:00,1.0,0.0,0.0,0.0,3.0,5.0,5.0,5.0,...,2.0,2.0,6.0,0.0,2.0,5.0,2.0,1.0,0.0,5.0
35087,35087,2020-12-31 23:30:00,2.0,0.0,5.0,4.0,6.0,3.0,10.0,0.0,...,0.0,2.0,5.0,0.0,0.0,6.0,2.0,0.0,1.0,7.0

In [62]:
np.array(in_flow[in_flow.columns[1:]])

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [2., 0., 2., ..., 0., 0., 0.],
       ...,
       [2., 0., 1., ..., 0., 1., 5.],
       [1., 0., 0., ..., 1., 0., 5.],
       [2., 0., 5., ..., 0., 1., 7.]])

In [68]:
with open('{}-{}-{}-NYCbike-inflow-plus1.npz'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP), 'wb') as f:
        np.savez_compressed(f,np.array(in_flow[in_flow.columns[1:]]))
with open('{}-{}-{}-NYCbike-outflow-plus1.npz'.format(str(TIME_START)[0:6],str(TIME_END)[0:6],TIME_STEP), 'wb') as f:
        np.savez_compressed(f,np.array(out_flow[in_flow.columns[1:]]))